/*
 * Copyright (c) 2015 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/******************************************************************************
 * GAUGE class                                                                *
 *****************************************************************************/
.gauge {
    -fx-skin           : "eu.hansolo.enzo.gauge.skin.GaugeSkin";
    -base              : black;
    -background        : ladder(-base,
                                 linear-gradient(to bottom, rgb(90, 90, 90) 0%, rgb(70, 70, 70) 100%) 49%,
                                 linear-gradient(to bottom, rgb(245,245,245) 0%, rgb(235,235,235) 100%) 50%);
    -background        : ladder(-base, black 49%, white 50%);
    -outer-border      : linear-gradient(to bottom,
                                         rgb(224,224,224) 0%,
                                         rgb(133,133,133) 26%,
                                         rgb(84,84,84) 100%);
    -highlight-border  : linear-gradient(to bottom,
                                         rgb(255,255,255) 0%,
                                         rgb(146,146,147) 50%,
                                         rgb(135,136,138) 100%);
    -inner-border      : linear-gradient(to bottom,
                                         rgb(71,72,72) 0%,
                                         rgb(110,106,107) 50%,
                                         rgb(186,185,187) 100%);
    -body              : linear-gradient(to bottom,
                                         rgb(245,245,245) 0%,
                                         rgb(235,235,235) 100%);
    -needle            : #F8907D;
    -min-measured-value: cornflowerblue;
    -max-measured-value: cornflowerblue;
    -threshold         : red;
    -knob              : white;
    -tick-mark-fill    : black;
    -tick-label-fill   : black;
    -section-fill-0    : rgba(  0,   0, 178, 0.5);
    -section-fill-1    : rgba(  0, 128, 255, 0.5);
    -section-fill-2    : rgba(  0, 255, 255, 0.5);
    -section-fill-3    : rgba(  0, 255,  64, 0.5);
    -section-fill-4    : rgba(128, 255,   0, 0.5);
    -section-fill-5    : rgba(255, 255,   0, 0.5);
    -section-fill-6    : rgba(255, 191,   0, 0.5);
    -section-fill-7    : rgba(255, 128,   0, 0.5);
    -section-fill-8    : rgba(255,  64,   0, 0.5);
    -section-fill-9    : rgba(255,   0,   0, 0.5);
    -histogram-fill    : rgba(  0, 200,   0, 0.3);
    -area-fill-0       : rgba(  0,   0, 178, 0.5);
    -area-fill-1       : rgba(  0, 128, 255, 0.5);
    -area-fill-2       : rgba(  0, 255, 255, 0.5);
    -area-fill-3       : rgba(  0, 255,  64, 0.5);
    -area-fill-4       : rgba(128, 255,   0, 0.5);
    -area-fill-5       : rgba(255, 255,   0, 0.5);
    -area-fill-6       : rgba(255, 191,   0, 0.5);
    -area-fill-7       : rgba(255, 128,   0, 0.5);
    -area-fill-8       : rgba(255,  64,   0, 0.5);
    -area-fill-9       : rgba(255,   0,   0, 0.5);
    -marker-fill-0     : rgb(  0, 200,   0);
    -marker-fill-1     : rgb(200, 200,   0);
    -marker-fill-2     : rgb(200,   0,   0);
    -marker-fill-3     : rgb(  0,   0, 200);
    -marker-fill-4     : rgb(  0, 200, 200);
}


/******************************************************************************
 * GAUGE components                                                           *
 *****************************************************************************/
.gauge .background {
    -fx-background-color : -outer-border, -highlight-border, -inner-border, -body;
    -fx-background-insets: 0, 6, 7, 13;
    -fx-background-radius: 1000;
    -fx-effect           : innershadow(two-pass-box, rgba(0, 0, 0, 0.3), 20, 0.0, 0, 20);
}


/******************************************************************************
 * GAUGE min-measured-value                                                   *
 *****************************************************************************/
.gauge .min-measured-value {
    -fx-background-color : derive(-min-measured-value, -20%), -min-measured-value;
    -fx-background-insets: 0, 1;
    -fx-scale-shape      : true;
    -fx-shape            : "M 7.6716 5.5503 L 10.5 2.7218 L 19.2782 11.5 L 10.5 20.2782 L 7.6716 17.4497 L 13.6213 11.5 L 7.6716 5.5503 ZM 0 12 C 0 18.6275 5.3725 24 12 24 C 18.6275 24 24 18.6275 24 12 C 24 5.3725 18.6275 0 12 0 C 5.3725 0 0 5.3725 0 12 Z";
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 1, 0.0, 0, 1);
}
.gauge:interactive .min-measured-value {
    -fx-background-color : derive(-min-measured-value, -20%), -min-measured-value;
    -fx-background-insets: -3, -2;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 4, 0.0, 0, 4);
}


/******************************************************************************
 * GAUGE max-measured-value                                                   *
 *****************************************************************************/
.gauge .max-measured-value {
    -fx-background-color : derive(-max-measured-value, -20%), -max-measured-value;
    -fx-background-insets: 0, 1;
    -fx-scale-shape      : true;
    -fx-shape            : "M 16.2782 5.5503 L 10.3284 11.5 L 16.2782 17.4497 L 13.4497 20.2782 L 4.6716 11.5 L 13.4497 2.7218 L 16.2782 5.5503 ZM 0 12 C 0 18.6275 5.3725 24 12 24 C 18.6275 24 24 18.6275 24 12 C 24 5.3725 18.6275 0 12 0 C 5.3725 0 0 5.3725 0 12 Z";
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 1, 0.0, 0, 1);
}
.gauge:interactive .max-measured-value {
    -fx-background-color : derive(-max-measured-value, -20%), -max-measured-value;
    -fx-background-insets: -3, -2;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 4, 0.0, 0, 4);
}


/******************************************************************************
 * GAUGE threshold                                                            *
 *****************************************************************************/
.gauge .threshold {
    -fx-background-color : derive(-threshold, -20%), -threshold;
    -fx-background-insets: 0, 2;
    -fx-scale-shape      : true;
    -fx-shape            : "M 22.4905 22 C 23.838 22 24.3851 21.3092 23.7121 20.068 L 13.2214 0.8937 C 12.5484 -0.3492 11.453 -0.2703 10.7799 0.9724 L 0.2879 20.0269 C -0.3851 21.2681 0.1619 22 1.5093 22 L 22.4905 22 Z";
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 1, 0.0, 0, 1);
}
.gauge:interactive .threshold {
    -fx-background-color : derive(-threshold, -20%),
                           linear-gradient(to right,
                                           derive(-threshold, -10%) 0%,
                                           derive(-threshold, -10%) 50%,
                                           derive(-threshold, 10%) 50%,
                                           derive(-threshold, 10%) 100%);
    -fx-background-insets: -3, -2;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 4, 0.0, 0, 4);
}


/******************************************************************************
 * GAUGE needle                                                               *
 *****************************************************************************/
.gauge .needle-standard {
    -fx-background-color : derive(-needle, -10%),
                           linear-gradient(to bottom,
                                           derive(-needle, 15%) 0%,
                                           derive(-needle, -15%) 100%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0em;
    -fx-padding          : 0;
    -fx-stroke           : transparent;
    -fx-scale-shape      : true;
    -fx-shape            : "M 3.0313 0 L 0 74 L 7.9688 74 L 4.9375 0 L 3.0313 0 Z";
}
.gauge .needle-highlight {
    -fx-background-color : linear-gradient(from 0% 0% to 100% 0%,
                                           transparent 0%,
                                           transparent 50%,
                                           rgba(255, 255, 255, 0.2) 50%,
                                           rgba(255, 255, 255, 0.2) 100%);
    -fx-scale-shape      : true;
    -fx-shape            : "M 3.0313 0 L 0 74 L 7.9688 74 L 4.9375 0 L 3.0313 0 Z";
}
.gauge:interactive .needle-standard {
    -needle: rgba(180, 180, 180, 0.6);
}


/******************************************************************************
 * GAUGE knob                                                                 *
 *****************************************************************************/
.gauge .knob {
    -fx-background-color : linear-gradient(to bottom,
                                           white 0%,
                                           rgb(230,230,230) 52%,
                                           rgb(240,240,240) 100%),
                           linear-gradient(to bottom,
                                           rgb(250,250,250) 0%,
                                           rgb(230,230,230) 100%);
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0em;
    -fx-scale-shape      : true;
    -fx-shape            : "M 0 100 C 0 44.7708 44.7708 0 100 0 C 155.2292 0 200 44.7708 200 100 C 200 155.2292 155.2292 200 100 200 C 44.7708 200 0 155.2292 0 100 Z";
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 7, 0.0, 0, 7);
}
.gauge:interactive .knob {
    -fx-background-color : linear-gradient(to bottom,
                                           white 0%,
                                           rgb(230,230,230) 52%,
                                           rgb(240,240,240) 100%),
                           linear-gradient(to bottom,
                                           rgb(230,230,230) 0%,
                                           rgb(250,250,250) 100%);
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 1, 0.0, 0, 1);
}


/******************************************************************************
 * GAUGE title, unit, value, interactive-text                                 *
 *****************************************************************************/
.gauge .title {
    -fx-fill: ladder(-base, #888888 49%, white 50%);
}

.gauge .unit {
    -fx-fill: ladder(-base, #888888 49%, white 50%);
}

.gauge .value {
    -fx-fill: ladder(-base, derive(white, -20%) 49%, white 50%);
}


/******************************************************************************
 * GAUGE sections                                                             *
 *****************************************************************************/
.gauge .section0 {
    -fx-fill: -section-fill-0;
}
.gauge:highlighted .section0 {
    -fx-fill: derive(-section-fill-0, 30%);
}
.gauge .section1 {
    -fx-fill: -section-fill-1;
}
.gauge:highlighted .section1 {
    -fx-fill: derive(-section-fill-1, 30%);
}
.gauge .section2 {
    -fx-fill: -section-fill-2;
}
.gauge:highlighted .section2 {
    -fx-fill: derive(-section-fill-2, 30%);
}
.gauge .section3 {
    -fx-fill: -section-fill-3;
}
.gauge:highlighted .section3 {
    -fx-fill: derive(-section-fill-3, 30%);
}
.gauge .section4 {
    -fx-fill: -section-fill-4;
}
.gauge:highlighted .section4 {
    -fx-fill: derive(-section-fill-4, 30%);
}
.gauge .section5 {
    -fx-fill: -section-fill-5;
}
.gauge:highlighted .section5 {
    -fx-fill: derive(-section-fill-5, 30%);
}
.gauge .section6 {
    -fx-fill: -section-fill-6;
}
.gauge:highlighted .section6 {
    -fx-fill: derive(-section-fill-6, 30%);
}
.gauge .section7 {
    -fx-fill: -section-fill-7;
}
.gauge:highlighted .section7 {
    -fx-fill: derive(-section-fill-7, 30%);
}
.gauge .section8 {
    -fx-fill: -section-fill-8;
}
.gauge:highlighted .section8 {
    -fx-fill: derive(-section-fill-8, 30%);
}
.gauge .section9 {
    -fx-fill: -section-fill-9;
}
.gauge:highlighted .section9 {
    -fx-fill: derive(-section-fill-9, 30%);
}


/******************************************************************************
 * GAUGE areas                                                                *
 *****************************************************************************/
.gauge .area0 {
    -fx-fill: -area-fill-0;
}
.gauge:highlighted .area0 {
    -fx-fill: derive(-area-fill-0, 30%);
}
.gauge .area1 {
    -fx-fill: -area-fill-1;
}
.gauge:highlighted .area1 {
    -fx-fill: derive(-area-fill-1, 30%);
}
.gauge .area2 {
    -fx-fill: -area-fill-2;
}
.gauge:highlighted .area2 {
    -fx-fill: derive(-area-fill-2, 30%);
}
.gauge .area3 {
    -fx-fill: -area-fill-3;
}
.gauge:highlighted .area3 {
    -fx-fill: derive(-area-fill-3, 30%);
}
.gauge .area4 {
    -fx-fill: -area-fill-4;
}
.gauge:highlighted .area4 {
    -fx-fill: derive(-area-fill-4, 30%);
}
.gauge .area5 {
    -fx-fill: -area-fill-5;
}
.gauge:highlighted .area5 {
    -fx-fill: derive(-area-fill-5, 30%);
}
.gauge .area6 {
    -fx-fill: -area-fill-6;
}
.gauge:highlighted .area6 {
    -fx-fill: derive(-area-fill-6, 30%);
}
.gauge .area7 {
    -fx-fill: -area-fill-7;
}
.gauge:highlighted .area7 {
    -fx-fill: derive(-area-fill-7, 30%);
}
.gauge .area8 {
    -fx-fill: -area-fill-8;
}
.gauge:highlighted .area8 {
    -fx-fill: derive(-area-fill-8, 30%);
}
.gauge .area9 {
    -fx-fill: -area-fill-9;
}
.gauge:highlighted .area9 {
    -fx-fill: derive(-area-fill-9, 30%);
}


/******************************************************************************
 * GAUGE markers                                                              *
 *****************************************************************************/
.gauge .marker0 {
    -fx-background-color : derive(-marker-fill-0, -20%), -marker-fill-0;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 100;
    -fx-scale-shape      : true;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 1, 0.0, 0, 1);
}
.gauge:interactive .marker0 {
    -fx-background-color : derive(-marker-fill-0, -20%),
                           linear-gradient(to bottom,
                                           derive(-marker-fill-0, 5%) 0%,
                                           derive(-marker-fill-0, -10%) 100%);
    -fx-background-insets: -3, -2;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 4, 0.0, 0, 4);
}
.gauge .marker1 {
    -fx-background-color : derive(-marker-fill-1, -20%), -marker-fill-1;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 100;
    -fx-scale-shape      : true;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 1, 0.0, 0, 1);
}
.gauge:interactive .marker1 {
    -fx-background-color : derive(-marker-fill-1, -20%),
                           linear-gradient(to bottom,
                                           derive(-marker-fill-1, 5%) 0%,
                                           derive(-marker-fill-1, -10%) 100%);
    -fx-background-insets: -3, -2;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 4, 0.0, 0, 4);
}
.gauge .marker2 {
    -fx-background-color : derive(-marker-fill-2, -20%), -marker-fill-2;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 100;
    -fx-scale-shape      : true;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 1, 0.0, 0, 1);
}
.gauge:interactive .marker2 {
    -fx-background-color : derive(-marker-fill-2, -20%),
                           linear-gradient(to bottom,
                                           derive(-marker-fill-2, 5%) 0%,
                                           derive(-marker-fill-2, -10%) 100%);
    -fx-background-insets: -3, -2;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 4, 0.0, 0, 4);
}
.gauge .marker3 {
    -fx-background-color : derive(-marker-fill-3, -20%), -marker-fill-3;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 100;
    -fx-scale-shape      : true;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 1, 0.0, 0, 1);
}
.gauge:interactive .marker3 {
    -fx-background-color : derive(-marker-fill-3, -20%),
                           linear-gradient(to bottom,
                                           derive(-marker-fill-3, 5%) 0%,
                                           derive(-marker-fill-3, -10%) 100%);
    -fx-background-insets: -3, -2;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 4, 0.0, 0, 4);
}
.gauge .marker4 {
    -fx-background-color : derive(-marker-fill-4, -20%), -marker-fill-4;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 100;
    -fx-scale-shape      : true;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 1, 0.0, 0, 1);
}
.gauge:interactive .marker4 {
    -fx-background-color : derive(-marker-fill-4, -20%),
                           linear-gradient(to bottom,
                                           derive(-marker-fill-4, 5%) 0%,
                                           derive(-marker-fill-4, -10%) 100%);
    -fx-background-insets: -3, -2;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.25), 4, 0.0, 0, 4);
}
