/*
 * Copyright (c) 2015 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/******************************************************************************
 * SIMPLEGAUGE class                                                          *
 *****************************************************************************/
.simple-gauge {
    -fx-skin           : "eu.hansolo.enzo.gauge.skin.SimpleGaugeSkin";
    -needle-color      : #5a615f;
    -value-text        : white;
    -title-text        : white;
    -section-text      : white;
    -section-fill-0    : #ffffff;
    -section-fill-1    : #f3622d;
    -section-fill-2    : #fba71b;
    -section-fill-3    : #57b757;
    -section-fill-4    : #41a9c9;
    -section-fill-5    : #4258c9;
    -section-fill-6    : #9a42c8;
    -section-fill-7    : #c84164;
    -section-fill-8    : #888888;
    -section-fill-9    : #aaaaaa;
    -range-fill        : rgba(0, 0, 0, 0.25);
}


/******************************************************************************
 * SIMPLEGAUGE needle                                                         *
 *****************************************************************************/
.simple-gauge > .needle {
    -fx-fill            :-needle-color;
    -fx-stroke          : white;
    -fx-stroke-line-cap : round;
    -fx-stroke-line-join: bevel;
}


/******************************************************************************
 * SIMPLEGAUGE value, title, section-text                                     *
 *****************************************************************************/
.simple-gauge > .value {
    -fx-fill: -value-text;
}

.simple-gauge > .title {
    -fx-fill: -title-text;
}

.simple-gauge > .section {
    -fx-fill: -section-text;
}


/******************************************************************************
 * SIMPLEGAUGE sections                                                       *
 *****************************************************************************/
.simple-gauge .section0 {
    -fx-fill: -section-fill-0;
}
.simple-gauge .section1 {
    -fx-fill: -section-fill-1;
}
.simple-gauge .section2 {
    -fx-fill: -section-fill-2;
}
.simple-gauge .section3 {
    -fx-fill: -section-fill-3;
}
.simple-gauge .section4 {
    -fx-fill: -section-fill-4;
}
.simple-gauge .section5 {
    -fx-fill: -section-fill-5;
}
.simple-gauge .section6 {
    -fx-fill: -section-fill-6;
}
.simple-gauge .section7 {
    -fx-fill: -section-fill-7;
}
.simple-gauge .section8 {
    -fx-fill: -section-fill-8;
}
.simple-gauge .section9 {
    -fx-fill: -section-fill-9;
}


/******************************************************************************
 * SIMPLEGAUGE measured value range                                           *
 *****************************************************************************/
.simple-gauge .range {
    -fx-fill: -range-fill;
}


/******************************************************************************
 * SIMPLEGAUGE color schemes                                                  *
 *****************************************************************************/
/* for 5 sections */
.blue-to-red-5 {
    -section-fill-0: #2976fa;
    -section-fill-1: #29c0fa;
    -section-fill-2: #29fa3d;
    -section-fill-3: #ffd82a;
    -section-fill-4: #ff312a;
}
.red-to-blue-5 {
    -section-fill-0: #ff312a;
    -section-fill-1: #ffd82a;
    -section-fill-2: #29fa3d;
    -section-fill-3: #29c0fa;
    -section-fill-4: #2976fa;
}


/* for 6 sections */
.green-to-darkgreen-6 {
    -section-fill-0: #badf8d;
    -section-fill-1: #95c262;
    -section-fill-2: #80b940;
    -section-fill-3: #67a328;
    -section-fill-4: #36843d;
    -section-fill-5: #11632f;
}
.green-to-red-6 {
    -section-fill-0: #11632f;
    -section-fill-1: #36843d;
    -section-fill-2: #80b940;
    -section-fill-3: #f5982b;
    -section-fill-4: #f06129;
    -section-fill-5: #b61f25;
}
.red-to-green-6 {
    -section-fill-0: #b61f25;
    -section-fill-1: #f06129;
    -section-fill-2: #f5982b;
    -section-fill-3: #80b940;
    -section-fill-4: #36843d;
    -section-fill-5: #11632f;
}
.purple-to-red-6 {
    -section-fill-0: #64266b;
    -section-fill-1: #74255e;
    -section-fill-2: #842551;
    -section-fill-3: #922545;
    -section-fill-4: #a12538;
    -section-fill-5: #b61f25;
}
.blue-to-red-6 {
    -section-fill-0: #20bafb;
    -section-fill-1: #23d8a6;
    -section-fill-2: #29fa3d;
    -section-fill-3: #ebfb37;
    -section-fill-4: #fdb42a;
    -section-fill-5: #fb4a1c;
}

/* for 7 sections */
.green-to-red-7 {
    -section-fill-0: #0b480d;
    -section-fill-1: #177416;
    -section-fill-2: #77a922;
    -section-fill-3: #f0df31;
    -section-fill-4: #fd8d24;
    -section-fill-5: #fc4a1c;
    -section-fill-6: #fb1419;
}
.red-to-green-7 {
    -section-fill-0: #fb1419;
    -section-fill-1: #fc4a1c;
    -section-fill-2: #fd8d24;
    -section-fill-3: #f0df31;
    -section-fill-4: #77a922;
    -section-fill-5: #177416;
    -section-fill-6: #0b480d;
}

/* for 10 sections */
.green-to-red-10 {
    -section-fill-0: #97b329;
    -section-fill-1: #aacc2a;
    -section-fill-2: #d4ea35;
    -section-fill-3: #f2de31;
    -section-fill-4: #fccb2e;
    -section-fill-5: #f3a429;
    -section-fill-6: #f18c23;
    -section-fill-7: #f65821;
    -section-fill-8: #f3351f;
    -section-fill-9: #f61319;
}
.red-to-green-10 {
    -section-fill-0: #f61319;
    -section-fill-1: #f3351f;
    -section-fill-2: #f65821;
    -section-fill-3: #f18c23;
    -section-fill-4: #f3a429;
    -section-fill-5: #fccb2e;
    -section-fill-6: #f2de31;
    -section-fill-7: #d4ea35;
    -section-fill-8: #aacc2a;
    -section-fill-9: #97b329;
}
.purple-to-cyan-10 {
    -section-fill-0: #5b27c8;
    -section-fill-1: #9622b6;
    -section-fill-2: #cc1760;
    -section-fill-3: #c7151a;
    -section-fill-4: #f37e23;
    -section-fill-5: #f6c52d;
    -section-fill-6: #bdd62d;
    -section-fill-7: #5bcc28;
    -section-fill-8: #25cf90;
    -section-fill-9: #22b4c5;
}
